<div class="header">
  <div class="header__left">
    <a href="" class="header__logo">
      <img src="assets/frame.svg" alt="logo">
    </a>

    <nav class="header__nav">
      <ul class="header__list">
        <li class="header__item">Главная</li>
        <li class="header__item">O компании</li>
        <li class="header__item">Каталог</li>
        <li class="header__item"><button routerLink="/users">АДМИНКА</button></li>
        <li class="header__item"><button routerLink="/todos">СПИСОК ДЕЛ</button></li>
      </ul>
    </nav>
  </div>

  <div class="header__right">
    <a href="" class="header__phone-logo">
      <img src="assets/phone.svg" alt="phone-logo">
    </a>
    <span class="header__phone-number">
      +7 (965) 084-29-29
    </span>
    <a href="" class="header__heart-logo">
      <img src="assets/heart.svg" alt="heart-logo">
    </a>

    <button class="header__cart-button">
      <img src="assets/cart-icon.svg" alt="cart-icon">
      <span>Пусто</span>
    </button>
  </div>
</div>

<section class="catalog">
  <div class="catalog__left">
    <button class="catalog__burger">
      <span></span>
      <span></span>
      <span></span>
    </button>

    <ul class="catalog__list">
      <li class="catalog__list-item">
        <a href="">Каталог</a>
      </li>
      <li class="catalog__list-item">
        <a href="">Стройматериалы</a>
      </li>
      <li class="catalog__list-item">
        <a href="">Инструменты</a>
      </li>
      <li class="catalog__list-item">
        <a href="">Электрика</a>
      </li>
      <li class="catalog__list-item">
        <a href="">Интерьер и одежда</a>
      </li>
    </ul>
  </div>

  <div class="catalog__right">
    <form action="">
      <input class="catalog__search" type="search" placeholder="Поиск, например Круг зачистной">
    </form>

    <div class="catalog__map">
      <img src="assets/map-pin.png" alt="">
      <button class="catalog__country" type="menu">
        Москва
      </button>
    </div>
  </div>
</section>




