.users-list {
  display: flex;
  flex-wrap: wrap;
  max-width: 1300px;
  margin: 0 auto;
}
.user-create-button {
  margin: 0 auto 10px auto;
  display: block;
  width: 400px;
  height: 70px;
  font-size: 30px;
  padding: 5px;
  border-radius: 10px;
  border: 1px solid grey;
  font-family: Inter, serif;
  cursor: pointer;
}
