//.header {
//  height: 80px;
//  display: flex;
//  justify-content: space-between;
//  align-items: center;
//  padding: 0 300px 0 300px;
//  background-color: #4B565E;
//  font-family: Inter;
//  color: #F9FAFB;
//  font-size: 16px;
//  line-height: 20px;
//  font-weight: 500;
//
//  &__left {
//    display: flex;
//  }
//
//  &__logo {
//    display: block;
//    margin-right: 40px;
//    img {
//      width: 61px;
//      height: 40px;
//    }
//  }
//
//  &__list {
//    display: flex;
//    font-weight: 600;
//    list-style-type: none;
//    padding: 0;
//  }
//
//  &__item {
//    margin-right: 25px;
//  }
//
//
//  &__right {
//    display: flex;
//    align-items: center;
//  }
//
//  &__phone-logo {
//    display: block;
//    margin-right: 10px;
//
//    img {
//      //display: block;
//      width: 28px;
//      height: 28px;
//    }
//  }
//
//  &__phone-number {
//    display: inline-block;
//    font-weight: 1500;
//    margin-right: 40px;
//  }
//
//  &__heart-logo{
//    display: block;
//    margin-right: 40px;
//    img {
//      width: 24px;
//      height: 24px;
//    }
//  }
//
//  &__cart-button {
//    width: 106px;
//    height: 48px;
//    border: 1px solid #F0BA4E;
//    border-radius: 50px ;
//    background-color: inherit;
//    display: flex;
//    align-items: center;
//    justify-content: space-between;
//    padding: 0 10px 0 10px;
//
//    img {
//      width: 28px;
//      height: 28px;
//    }
//
//    span {
//      display: inline-block;
//      color: #F9FAFB;
//      font-size: 16px;
//      line-height: 20px;
//      font-weight: 500;
//    }
//  }
//}
//
//.catalog {
//  font-family: Inter;
//  padding: 0 300px 0 300px;
//  height: 48px;
//  background-color: #F0BA4E;
//  display: flex;
//  justify-content: space-between;
//  align-items: center;
//
//  &__left {
//    display: flex;
//    align-items: center;
//  }
//
//  &__burger {
//    border: none;
//    background-color: transparent;
//    width: 16px;
//    height: 24px;
//    cursor: pointer;
//    margin-right: 10px;
//    display: block;
//    padding: 0;
//
//    span {
//      display: block;
//      position: relative;
//      margin-bottom: 2px;
//
//      &::before {
//        display: block;
//        content: '';
//        width: 16px;
//        height: 2px;
//        background-color: #3C3C3B;
//      }
//    }
//
//    & span:last-child {
//      display: block;
//      position: relative;
//      margin-bottom: 0;
//      &::before {
//        display: block;
//        content: '';
//        width: 12px;
//        height: 2px;
//        background-color: #3C3C3B;
//      }
//    }
//  }
//
//  &__list {
//    display: flex;
//    list-style-type: none;
//    padding: 0;
//    //color: #3C3C3B;
//    font-size: 14px;
//    line-height: 16px;
//  }
//
//  &__list-item {
//    padding-right: 24px;
//    a {
//      text-decoration: none;
//      color: #3C3C3B;
//    }
//  }
//
//  &__right {
//    display: flex;
//  }
//
//  &__search {
//    position: relative;
//    width: 400px;
//    margin-right: 24px;
//    outline: 0;
//    border-width: 0 0 2px;
//    border-color: #3C3C3B;
//    background: url('../assets/search.png') no-repeat;
//    background-size: contain;
//    background-position: right;
//  }
//
//  &__map {
//    margin-right: 5px;
//  }
//  &__country {
//    color: #FFFFFF;
//    font-size: 14px;
//    line-height: 14px;
//
//    border: none;
//    background-color: transparent;
//    width: 56px;
//    cursor: pointer;
//  }
//}
//
//

.template-button {
    width: 300px;
    height: 48px;
    border: 1px solid #F0BA4E;
    border-radius: 50px ;
    background-color: inherit;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px 0 10px;
    cursor: pointer;
}
