<div style="margin: 30px">
  <form
    style="display: flex; flex-direction: column; padding: 30px"
    [formGroup]="formTT"
    (ngSubmit)="submitForm()"
  >

    <p>NAME:</p>
    <div class="alert">
      <input placeholder="name" type="text" class="formTT-input" formControlName="name" />
      <div
        *ngIf="formTT.controls['name'].invalid && (formTT.controls['name'].dirty || formTT.controls['name'].touched)"
        class="alert"
      >
        <div *ngIf="formTT.controls['name'].errors?.['required']">Name is required!!!!!.</div>
      </div>
    </div>

    <p>EMAIL:</p>
    <div class="alert">
      <input type="text" class="formTT-input" formControlName="email" />
      <div *ngIf="formTT.controls['email'].invalid && (formTT.controls['email'].dirty || formTT.controls['email'].touched)">
        <div *ngIf="formTT.controls['email'].errors">EMAIL ВВЕДЕН НЕПРАВИЛЬНО</div>
      </div>
    </div>

    <p>WEBSITE:</p>
    <div class="alert">
      <input type="text" class="formTT-input" formControlName="website" />
      <div *ngIf="formTT.controls['website'].invalid && (formTT.controls['website'].dirty || formTT.controls['website'].touched)">
        <div *ngIf="formTT.controls['website'].errors">WEBSITE ВВЕДЕН НЕПРАВИЛЬНО</div>
      </div>
    </div>

    <p>COMPANY NAME:</p>
    <div class="alert">
      <input type="text" class="formTT-input" formControlName="companyName" />
      <div *ngIf="formTT.controls['companyName'].invalid && (formTT.controls['companyName'].dirty || formTT.controls['companyName'].touched)">
        <div *ngIf="formTT.controls['companyName'].errors">ИМЯ КОМПАНИИ ВВЕДЕНО НЕПРАВИЛЬНО</div>
      </div>
    </div>

    <button
      [disabled]="formTT.invalid"
      type="submit" style="width: 150px; margin-top: 20px"
    >
      COPPPLFNM
    </button>

<!--    <button mat-fab extended>-->
<!--      <mat-icon>home</mat-icon>-->
<!--      Home-->
<!--    </button>-->
  </form>
</div>

<!--<mat-card appearance="outlined">-->
<!--  <mat-card-content>Simple card</mat-card-content>-->
<!--</mat-card>-->


